.hero {
  background-color: var(--background);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  border-bottom: 1px solid #ddd;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--text);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--text);
}
