.hero {
  background: linear-gradient(to right, #007bff, #00c6ff); /* or use an image */
  color: #fff;
  /* padding: 100px 20px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 0.5rem 2rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.hero-btn:hover {
  background-color: var(--primary-light);
}
